/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

# ignored compiled clojurescript
resources/public/javascript/denote/
resources/public/javascript/cljs/
resources/public/javascript/denote.js
